{% extends "layout.html" %}

{% block content %}

  <div class="jumbotron text-center">
	<h2>Create professional surveys tailored to your needs</h2>
    <p>TakeTheSurvey is here for you!</p> 
  </div>

{% if succesfull_register %}
    witaj, {{ username }}
{% endif %}

 <div class="container">
     
  <div class="row">
    <div style="padding:25px;" class="col-sm-6">
<h3>Customer Satisfaction</h3>
Get real-time feedback to improve products, services, and business overall.</div>
    <div  style="padding:25px;"class="col-sm-6">
<h3>Employee Engagement</h3>
Understand how to retain the best talent and build employee satisfaction.
    </div>
  </div>
  
  <div class="row">
    <div style="padding:25px;" class="col-sm-6">
<h3>Event Planning</h3>
Make your events more successful by gathering attendee feedback.</div>
    <div style="padding:25px;" class="col-sm-6">
<h3>Education & Schools</h3>
Get answers to develop programs and improve academic performance.</div>
  </div>
  
  <div class="row">
    <div  style="padding:25px;"class="col-sm-6">
<h3>Market Research</h3>
Keep track of industry and market trends to stay ahead of the competition.</div>
    <div class="col-sm-6">
    </div>
  </div>
</div>
 
 
{% endblock %}
