<!DOCTYPE html>
<html lang="pl">
 
<head>
	{% block head %}

	<title>TakeTheSurvey</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 
	<!-- bootstrap, jquery -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

	<!-- default stylesheet -->
	<link rel="stylesheet" href="../static/css/tts.css" type="text/css">
	
	{% endblock %}
</head>
 
<body>
<div class="custom_navbar">
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
		 <div class="navbar-header" style="height:70px;"">
		 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#custom_navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
		   <a class="navbar-brand" href="/index"><img src="../static/img/logo.png" width="87px" height="57px" alt="TakeTheSurvey" class="img-thumbnail"></a>
		 </div>
		 <ul class="nav navbar-nav">

				{% if user_logged %}		 
		   <li class="dropdown" style="padding:10px;">
		     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Surveys
		     <span class="caret"></span></a>
		     <ul class="dropdown-menu">
					<li><a href="/show_survey">Browse</a></li>
					<li><a href="/add_survey">Add new</a></li>
		     </ul>
		   </li>
				{% else %}
					<li style="padding:10px;"><a href="/show_survey">Fill out a survey!</a></li>
		      {% endif %} 
		   
	 		{% if user_logged %}
		   <li class="dropdown" style="padding:10px;">
		     <a class="dropdown-toggle" data-toggle="dropdown" href="#">Questions
		     <span class="caret"></span></a>
		     <ul class="dropdown-menu">
					<li><a href="/show_questions">Browse</a></li>
					<li><a href="/add_survey">Add new</a></li>
		     </ul>
		   </li>
		  {% endif %} 
      <li style="padding:10px;"><a href="#">How it works</a></li>
      <li style="padding:10px;"><a href="#">About</a></li>
		 </ul>
		 <ul class="nav navbar-nav navbar-right" style="margin-right:25px;">	
		  		{% if user_logged %}
		   <li style="padding:10px;"><a href="/user_account"><span class="glyphicon glyphicon-option-vertical"></span> Settings</a></li>
		   <li style="padding:10px;"><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		 		{% else %}
		   <li style="padding:10px;"><a href="/singup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		   <li style="padding:10px;"><a data-toggle="modal" href="#login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				{% endif %}
		 </ul>
	  </div>
</nav>
</div>

<!-- Login modal content-->
  <div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:green;"><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body">
          <form role="form" action="/login">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="text" class="form-control" id="psw" placeholder="Enter password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
            <button type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="#">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
      </div>
    </div>
  </div> 
<!-- end modals content -->




 <div class="container" style="margin-top:100px;">
 {% block content %}{% endblock %}
 </div>
 
<footer class="container-fluid custom_footer">
  <p>Copyright TakeTheSurvey 2018. By JK & MW</p> 
</footer>



</body>
 
</html>
