{% extends "layout.html" %}

{% block content %}
<h4>
Create new question
</h4>

{% if msg %}
<div class="alert alert-warning">
{{ msg }}
</div>
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading">Your question</div>

{% if not name %}
<div class="alert alert-info">
Please type new question name. Name has to be at least 4 characters.
</div>

{% endif %}
<form class="form-inline" action="/set_new_question_name" method="get">
  <div class="form-group">
    <input style="margin:10px" size="100" type="text" class="form-control" name="name" placeholder="{% if name %} {{ name }} {% endif %}">
  </div>
  <button type="submit" class="{% if name %} btn btn-success">Done {% else %} btn btn-default">Set name {% endif %}</button>
</form>
</div>



{% if questions and name %}
<form class="form-inline" action="/create" method="post">
    <button type="submit" class="btn btn-primary">Create survey</button>
</form>
{% endif %}

{% endblock %}
