 {% if msg %} {{ msg }} kajdslkfjdslk {% endif %}

<div>
		        
        <div class="col-md-12">
			<h2>{{survey[0][2]}}</h2>
			<h6>Created: {{survey[0][3]}}</h6>
		<div>
<br>
	<div class="panel-heading">
                <h3 class="panel-title">
                    <span class="fa fa-question-circle"></span>{{ survey[0][9]}}</h3>
    </div>
</br>


{% for row in survey %}
    

	{% if (survey[loop.index0][9] in survey[loop.index0-1][9] and loop.index0>0) or (loop.index0==0) %}
        <div class="panel-body two-col">
            <div class="row">
				<div class="col-md-6">
                    <div class="well well-sm margin-bottom-none">
					    {#warunek dla typu pytan jednokortnego i wielokrotnego wyboru#}
						{% if (survey[loop.index0][10] == 1) %}
                                   						
						<div class="radio">
							<label>
                                    <input type="radio" name={{row[8]}} id = {{row[11]}} value={{row[11]}}>
									{{row[13]}}
							</label>
                        </div>
						
						{% else %} 
						
						<div class="checkbox">
							<label>
									<input type="checkbox" name={{row[11]}} id = {{row[11]}} value={{row[11]}}>
									{{row[13]}}
							</label>
                        </div>
						
						{% endif %}
						
                    </div>
					
                </div>
			</div>
		</div>
	
	{% else %}
	
<br>
	<div class="panel-heading">
                <h3 class="panel-title">
                    <span class="fa fa-question-circle"></span>{{ row[9]}}</h3>
    </div>
</br>
	
	{% endif %}
   
  
{% endfor %}

<br></br>
	<div class="col-md-6">
       <button type="button" class="btn btn-success btn-sm btn-block">
       <span class="fa fa-send"></span>Submit</button>
	</div>
</div>
</div>
</div>
