{% extends "layout.html" %}

{% block content %}



<div class="container" >
      
          <div class="panel panel-info" >
            <div class="panel-heading">
              <h3 class="panel-title">Account Details</h3>
			 
		
            </div>
	
            <div class="panel-body" >
             
              
                <div > 
				{% for row in user_data %}
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Username:</td>
                        <td>{{ row[1] }}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{ row[2] }}">{{ row[2] }}</a></td>
                                       
                      </tr>
                     
                    </tbody>
                  </table>
                  <a href="/edit_user_data" class="btn btn-primary">Edit Data</a>
                  <a href="/delete_account_confirmation" class="btn btn-primary">Delete Account</a>	  
				  <a href="./show_survey" class="btn btn-primary">My Completed Surveys</a>
                  <a href="./show_survey" class="btn btn-primary">My Survey Templates</a>
				  
				  {% endfor %}
                </div>

             
            </div>

           </div>  
          </div>
	



{% endblock %}
